.Post {
    position: absolute;
    width: 44%;
    height: auto;
    margin-bottom: 120px;
}

.Post__poster {}

@media screen and (max-width: 690px) {
  .Post {
     top: 120px !important;
     position: relative !important;
     width: 90%;
     margin-bottom: 60px;
  }
}
